<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} People</title>
    {% endblock %}
</head>
<body>
<header>
<b>
Sham : 1001574763
</b>
</header>
<p>
<h2>Execution time is ({{t}})</h2>
{% for city in ci %}
 
  <!-- This retrives all the data based on the content typed in textbox of index.html -->
  <p>The time is <b>{{ city["time"] }}</b> the mag is <b> {{ city["mag"] }} </b>.

{% endfor %}
</p>
</body>
</html>
